<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{fragments/adminlayout.html}">

<head>
    <title>AUDIT TRAIL REPORT</title>
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css">

</head>
<main class="container-fluid" th:fragment="content">
    <div class="card mt-3 bg-white">
        <div class="card-header">
            <div class="card-title">Audit Trail Report</div>
        </div>
        <div class="card-body">
            <table id="auditTrailTable" class="table table-striped table-bordered table-width">
                <thead class="table-dark">
                <tr>
                    <th>Slno</th>
                    <th>Username</th>
                    <th>Time Stamp</th>
                    <th>Ip Address</th>
                    <th>Login Success</th>
                    <th>User Actions</th>
                </tr>
                </thead>
                <tbody id="auditTableBody">
                <!-- Data will be populated dynamically -->
                </tbody>
            </table>
        </div>
    </div>
    <script src="/js/pages/audit_trail.js"></script>
</main>
</html>