<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{fragments/layout.html}">

<main class="container-fluid p-0 m-0" th:fragment="content">

    <div class="card mx-5 my-3 pb-2">
        <div class="card-body">
            <h4 class="card-title">About Us</h4>

            <p class="card-text">"Skill Development" is concerned with imparting and acquisition of knowledge, skills
                and attitudes immediately before, during and between the periods of work. While basic literacy is a
                must, skill development is necessary for growth of the individual as well as the country. Skill
                Development also contributes in enhancing individual’s employability, both as wage worker and
                self-employment and increases the ability to adapt to changing technologies and labour market demands.
                It also improves productivity and living standards of the people and strengthens competitiveness of the
                country.</p>

                <p class="card-text"> The demand for skilled manpower has increased substantially due to rapid economic growth, changes in
                technology and work process, and globalization of economy.</p>

                <p class="cad-text"> The Directorate of Employment and Craftsmen Training, Labour Department, Meghalaya, Shillong works
                towards imparting skills in various vocational trades to meet the technical manpower requirements for industrial growth in the country through four major schemes:-</p>
                <ol>
                    <li>Craftsmen Training Schemes</li>
                    <li>Apprenticeship Training</li>
                    <li>Modular Employable Skill (M.E.S.) under Skill Development Initiative (S.D.I.) Scheme</li>
                    <li>Short Term Job-Oriented Courses</li>
                </ol>

        </div>
    </div>

</main>

</html>