<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{fragments/layout.html}">

<main class="container-fluid p-0 m-0" th:fragment="content">

    <div class="card mx-5 my-3 pb-2">
        <div class="card-body">
            <h4>Apprenticeship Training</h4>

            <p class="card-text">Apprenticeship Act, 1961 was enacted with the following objectives:</p>
            <ul>
                <li>To regulate the programme of training of Apprentices in the Industry to conform to the syllabi,
                    period of training etc. as laid down by the Central Apprenticeship Council.
                </li>
                <li>To utilize the facilities available in industry for imparting practical training with a view to
                    meeting the requirements of skilled manpower for industry.
                </li>

                <li>All India Trade Test (A.I.T.T.) for Trade Apprentices are conducted by National Council
                    for Vocational Training (N.C.V.T.).
                </li>
                <li>National Apprenticeship Certificate (N.A.C.) is awarded to those who pass the
                    A.I.T.T..
                </li>
                <li>National Apprenticeship Certificate is recognized for employment under Government or
                    Semi-Government Departments or Organization.
                </li>
            </ul>
            <p class="card-text">As on 31st December 2011, a total Number of 39 (Thirty Nine) Seats have been located in
                4 Establishments under the purview of the Apprenticeship Training Scheme. During the Financial Year
                2011-2012, the Manpower Data has been collected from 23 New Establishments in the State.</p>
        </div>
    </div>

</main>

</html>