<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{fragments/layout.html}">

<main class="container-fluid p-0 m-0" th:fragment="content">

    <div class="card mx-5 my-3 pb-2">
        <div class="card-body">
            <h4>Craftsmen Training Schemes</h4>

            <p class="card-text">Implemented through the Government Industrial Training Institutes (G.I.T.Is) and the Private Industrial Training Institutes (P.I.T.Is). Craftsmen Training is imparted in 14 designated Engineering and 12 Non-Engineering Trades.</p>

            <ul>
                <li>Objective is to prepare semi-skilled workers</li>
                <li>Institutional Training through Government Industrial Training Institutes and Private Industrial Training Institutes.</li>
                <li>Educational qualification varies from Class 8 pass to Class 12 pass depending upon the trades.</li>
                <li>Duration of training varies from 6 months to 3 years.</li>
                <li>Trainees after completion of training appear in the All India Trade Test (A.I.T.T.) held in the month of July every year.</li>
                <li>Successful trainees are awarded the National Trade Certificate (N.T.C.) by the National Council for Vocational Training (N.C.T.V.).</li>
                <li>National Trade Certificate (N.T.C.) is recognized for recruitment to subordinate posts within the country as well as abroad.</li>
            </ul>

            <h4>Admission Details:</h4>
            <p>Advertisement for admission is usually done in the month of May every year, and the new session starts in the month of August.</p>

            <h4>Links:</h4>
            <ul>
                <li><a href="https://dectmeg.nic.in/dect/pdf/CTS%20Org%20Structure.pdf">Organizational Structure</a></li>
                <li><a href="https://dectmeg.nic.in/dect/pdf/CTS-List%20of%20Government%20ITIs%20and%20Private%20ITIs%20Trades.pdf">List of Government I.T.Is and Private I.T.Is Trades</a></li>
            </ul>

        </div>
    </div>

</main>

</html>