<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{fragments/layout.html}">

<main class="container-fluid p-0 m-0" th:fragment="content">

    <div class="card mx-5 my-3 pb-2">
        <div class="card-body">
            <h4>Modular Employable Skill (M.E.S.) Under Skill Development Initiative (S.D.I.) Scheme</h4>

            <p class="card-text">An Institutional Training through the registered Vocational Training Providers (V.T.Ps).</p>

            <ul>
                <li>M.E.S. is the "minimum skill set" which is sufficient to get employment in the world of work.</li>
                <li>M.E.S. allows Skills Upgradation.</li>
                <li>M.E.S. also allows multi-entry and multi-exit.</li>
                <li>1158 M.E.S. Courses approved by National Council for Vocational Training as of October 2010.</li>
                <li>Educational qualification varies from Class 5 pass to Class 12 pass depending upon the M.E.S. Courses.</li>
                <li>Duration of Training varies from 50 hours to 600 hours.</li>
                <li>The skill is to be assessed by the Assessing Body mainly from the Industry Organization.</li>
                <li>Certification is done jointly by the National Council for Vocational Training and Industry (Assessing Body).</li>
                <li>M.E.S. benefits different target groups like:
                    <ul>
                        <li>Early School drop-outs and unemployed.</li>
                        <li>Workers seeking skill upgradation.</li>
                        <li>Workers seeking certification of their skills acquired informally.</li>
                    </ul>
                </li>
            </ul>

            <h5>Admission Details:</h5>
            <p>Interested Candidates can walk-in into any Vocational Training Provider (V.T.P.) location and enroll themselves for courses the V.T.P. offers anytime during the year.</p>

            <h5>Links:</h5>
            <ul>
                <li><a href="https://dectmeg.nic.in/dect/pdf/MES-SDI-KEY%20FEATURES.pdf">Key Features</a></li>
                <li><a href="https://dectmeg.nic.in/dect/pdf/SDI.ORG%20STRUCTURE.pdf">Organizational Structure</a></li>
                <li><a href="https://dectmeg.nic.in/dect/pdf/SDI%20Scheme-List%20of%20VTPs.pdf">List of V.T.Ps</a></li>
                <li><a href="https://dectmeg.nic.in/dect/pdf/VTP_Guidelines_&_Forms_-_July.pdf">V.T.P. Registration Guidelines and Forms</a></li>
            </ul>

        </div>
    </div>

</main>

</html>