<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{fragments/layout.html}">

<main class="container-fluid p-0 m-0" th:fragment="content">

    <div class="card mx-5 my-3 pb-2">
        <div class="card-body">
            <h4>Short Term Job-Oriented Courses</h4>

            <p class="card-text">The Directorate of Employment and Craftsmen Training, Labour Department, Government of Meghalaya is undertaking Skill Development under the Train and Place Modules Initiative by imparting Short-term Job Oriented Training Programmes in various Sectors through selected Institutes which directly leads to Job Placement within and outside the State for the Unemployed Youth of Meghalaya. The Directorate will sponsor the Training Cost and Courses Fees for Trainees selected from Meghalaya. This is a new initiative undertaken by Labour Department to be funded under the State Plan Scheme. The duration of the Course will vary from 3 to 6 months.</p>

            <h6>Who is Eligible?</h6>
            <p class="card-text">Permanent Residents of Meghalaya (18 years and above)</p>

            <h6>How to Apply?</h6>
            <p class="card-text">Interested Candidates are to submit a One-Page Bio-data with Name, Age, Details of all Qualifications, Formal / Informal Training (if any), Address, Contact Number(s) and preference for Job Placement (within or outside the State) by hand, post or email to:-</p>

            <address>
                The Director of Employment and Craftsmen Training, "Grove Side" Keating Road, Shillong - 793001<br>
                Email: dectmeg.sd@gmail.com
            </address>

        </div>
    </div>

</main>

</html>