<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Directorate of Employment and Craftsmen Training</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/jquery-confirm.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-confirm.min.js"></script>
    <script src="/js/crypto-js.min.js"></script>
<!--    <script src="/js/sweetalert211.js"></script>-->
    <link rel="stylesheet" href="/css/pages/layout.css">

</head>

<body class=" bg-secondary bg-opacity-25">


<nav class="navbar navbar-expand-md navbar-dark fixed-top nav-gradient">
    <div class="container-fluid">
        <a class="navbar-brand text-dark" href="/"> <img src="/images/dectlogo.png" alt="Logo" height="60"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${servletPath == '/' ? 'active':''}" href="/">
                        Home
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" id="menu" data-bs-toggle="dropdown" class="nav-link dropdown-toggle"
                       data-bs-display="static">Profile</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/about_us" class="dropdown-item">About Us</a>
                        </li>
                        <li>
                            <a href="/organization_structure" class="dropdown-item">Organizational Structure</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" data-bs-toggle="dropdown" class="dropdown-item dropdown-toggle">Services <i
                                    class="bi bi-caret-right"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" data-bs-toggle="dropdown" class="dropdown-item dropdown-toggle">Employment
                                        Services</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/employment_services/about_us" class="dropdown-item">About</a>
                                        </li>
                                        <li>
                                            <a href="/employment_services/employment_exchanges" class="dropdown-item">Employment
                                                Exchanges</a>
                                        </li>
                                        <li>
                                            <a href="/employment_services/my_registration" class="dropdown-item">My
                                                Registration</a>
                                        </li>
                                        <li>
                                            <a href="/employment_services/acts" class="dropdown-item">Acts and
                                                Regulations</a>
                                        </li>
                                        <li>
                                            <a href="/employment_services/faqs" class="dropdown-item">FAQs</a>
                                        </li>
                                        <li>
                                            <a href="/employment_services/key_contacts" class="dropdown-item">Key
                                                Contacts</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" data-bs-toggle="dropdown" class="dropdown-item dropdown-toggle">Training
                                        Services</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/training_services/about_us" class="dropdown-item">About</a>
                                        </li>
                                        <li>
                                            <a href="/training_services/cts" class="dropdown-item">Craftsmen Training
                                                Scheme</a>
                                        </li>
                                        <li>
                                            <a href="/training_services/sdis" class="dropdown-item">Skill Development
                                                Initiative Scheme</a>
                                        </li>
                                        <li>
                                            <a href="/training_services/stjo" class="dropdown-item">Short Term Job
                                                Oriented Scheme</a>
                                        </li>
                                        <li>
                                            <a href="/training_services/ats" class="dropdown-item">Apprentice Training
                                                Scheme</a>
                                        </li>
                                        <li>
                                            <a href="https://dectmeg.nic.in/dect/pdf/SDI%20Scheme%20MES%20COURSES.pdf"
                                               target="_blank" rel="noopener noreferrer" class="dropdown-item">Modular Employable Skill
                                                Courses</a>
                                        </li>
                                        <li>
                                            <a href="https://dectmeg.nic.in/dect/pdf/TRAINING%20CONTACT%20US.pdf"
                                               target="_blank" rel="noopener noreferrer" class="dropdown-item">Key Contacts</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" data-bs-toggle="dropdown" class="dropdown-item dropdown-toggle">Strive</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSesOvZaNo_L_0B6jDR55jRF8JZTzMReIOywcV6MYOjI4g71uA/viewform"
                                       target="_blank" rel="noopener noreferrer" class="dropdown-item">STRIVE Grievance Form </a>
                                </li>
                                <li>
                                    <a href="https://dectmeg.nic.in/dect/pdf/strive/STRIVE%20Audit%20Report%202021-22.PDF"
                                       target="_blank" rel="noopener noreferrer" class="dropdown-item">STRIVE Audit Report 2021-22</a>
                                </li>
                                <li>
                                    <a href="https://dectmeg.nic.in/dect/pdf/strive/Contract%20Negotiation%20Meeting%20STRIVE.PDF"
                                       target="_blank" rel="noopener noreferrer" class="dropdown-item">Contract Negotiation Meeting STRIVE</a>
                                </li>
                                <li>
                                    <a href="https://dectmeg.nic.in/dect/pdf/strive/Auditors%20Report%201.PDF"
                                       target="_blank" rel="noopener noreferrer" class="dropdown-item">Auditor Report 1st Feb, 2022</a>
                                </li>
                                <li>
                                    <a href="https://dectmeg.nic.in/dect/pdf/strive/Auditors%20Report%202.PDF"
                                       target="_blank" rel="noopener noreferrer" class="dropdown-item">Auditor Report 1st April, 2022</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/key_contacts" class="dropdown-item">Key Contacts</a>
                        </li>
                        <li>
                            <a href="/contact_us" class="dropdown-item">Contact Us</a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" id="menu" data-bs-toggle="dropdown" class="nav-link dropdown-toggle"
                       data-bs-display="static">Notifications</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/notification-tenders?type=Notification" class="dropdown-item">Notifications</a>
                        </li>
                        <li>
                            <a href="/notification-tenders?type=Tender" class="dropdown-item">Tenders</a>
                        </li>
                        <li>
                            <a href="/notification-tenders?type=Others" class="dropdown-item">Others</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" id="menu" data-bs-toggle="dropdown" class="nav-link dropdown-toggle"
                       data-bs-display="static">News & Events</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/news-events?type=Career" class="dropdown-item">Career</a>
                        </li>
                        <li>
                            <a href="/news-events?type=Events" class="dropdown-item">Events</a>
                        </li>
                        <li>
                            <a href="/news-events?type=Others" class="dropdown-item">Others</a>
                        </li>
                        <li>
                            <a href="/news_archive" class="dropdown-item">Archive</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" data-bs-toggle="dropdown" class="dropdown-item dropdown-toggle">Forms</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="https://dectmeg.nic.in/dect/pdf/Standard%20Form.pdf"
                                       target="_blank" rel="noopener noreferrer" class="dropdown-item">Standard Form</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" id="menu" data-bs-toggle="dropdown" class="nav-link dropdown-toggle"
                       data-bs-display="static">Services</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="https://dectmeg.nic.in/dectnew/candreg/" target="_blank" rel="noopener noreferrer"
                               class="dropdown-item openModalLink" data-bs-toggle="modal"
                               data-bs-target="#myModal">ConnectKam</a>
                        </li>
                        <li>
                            <a href="https://megskillhands.nic.in/" target="_blank" rel="noopener noreferrer" class="dropdown-item openModalLink"
                               data-bs-toggle="modal"
                               data-bs-target="#myModal">Skill
                                Hands</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item openModalLink" data-bs-toggle="modal"
                               data-bs-target="#myModal">ITI Admission</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item pl-3">
                    <a href="/gallery" class="nav-link">Gallery</a>
                </li>

                <li class="nav-item pl-3">
                    <a href="/login" class="nav-link btn btn-primary rounded-pill">Official Login</a>
                </li>

            </ul>
            </li>
            </ul>
        </div>
    </div>
</nav>


<main class="container-fluid main-container">
    <div th:replace="~{${view} :: content}"></div>
</main>

<section id="clients" class="card py-3 mt-3 clients">

    <div class="container-fluid" data-aos="fade-up">
        <div class="clients-slider swiper pt-2">
            <div class="swiper-wrapper align-items-center pb-2">
                <div class="swiper-slide"><a href="https://www.digilocker.gov.in/" class="openModalLink"
                                             data-bs-toggle="modal"
                                             data-bs-target="#myModal"><img
                        src="/images/DigiLocker_S.png" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="https://digitalindia.gov.in/" class="openModalLink"
                                             data-bs-toggle="modal"
                                             data-bs-target="#myModal"><img
                        src="/images/Digital_India-Black.png" class="img-fluid openModalLink" data-bs-toggle="modal"
                        data-bs-target="#myModal" alt=""></a></div>
                <div class="swiper-slide"><a href="https://rtionline.gov.in/" class="openModalLink"
                                             data-bs-toggle="modal"
                                             data-bs-target="#myModal" ><img
                        src="/images/RTI-L.png" class="img-fluid openModalLink" alt="" data-bs-toggle="modal"
                        data-bs-target="#myModal"></a></div>
                <div class="swiper-slide"><a href="https://www.ncs.gov.in/" class="openModalLink" data-bs-toggle="modal"
                                             data-bs-target="#myModal" ><img src="/images/ncs.png"
                                                                                            class="img-fluid"
                                                                                            data-bs-toggle="modal"
                                                                                            data-bs-target="#myModal"
                                                                                            alt=""></a></div>
                <div class="swiper-slide"><a href="https://www.meghalaya.gov.in/" class="openModalLink"
                                             data-bs-toggle="modal"
                                             data-bs-target="#myModal"><img src="/images/meggov.png"
                                                                            class="img-fluid" alt=""></a>
                </div>
                <div class="swiper-slide"><a href="https://www.india.gov.in/" class="openModalLink"
                                             data-bs-toggle="modal"
                                             data-bs-target="#myModal"><img
                        src="/images/india-portal.jpg" class="img-fluid" alt=""></a></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Attention!</h5>
                    <button type="button" class="btn bg-danger btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>You will be redirected to an external website, click the button below to proceed:</p>
                    <div class="d-flex justify-content-end"><a href="#" id="proceedButton" target="_blank" rel="noopener noreferrer"
                                                               class="btn btn-primary">Proceed</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<script src="/vendor/swiper/swiper-bundle.min.js"></script>


<footer class="container-fluid text-center text-lg-start bg-primary bg-dark text-white mt-3 bg-dark">


    <section class="pt-3">
        <div class="container text-center text-md-start mt-5 w-100">

            <div class="row mt-3">

                <div class="col-md-5 col-lg-6 col-xl-5 mx-auto mb-4">

                    </h6>
                    <img src="/images/dectlogo.png" alt="" height="50">
                    <div class="mt-4">
                        <img src="/images/nic.png" alt="" height="50">
                        <p class="mt-3">
                            Designed, Developed & Hosted by<br>
                            <a href="https://meg.nic.in/"
                               class="text-danger text-decoration-none openModalLink" data-bs-toggle="modal"
                               data-bs-target="#myModal">National
                                Informatics Centre, Meghalaya</a>
                        </p>
                    </div>

                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="https://www.meghalaya.gov.in/"
                           class="text-reset text-decoration-none openModalLink" data-bs-toggle="modal"
                           data-bs-target="#myModal">meghalaya.gov.in</a>
                    </p>
                    <p>
                        <a href="https://www.ncs.gov.in/" class="text-reset text-decoration-none openModalLink"
                           data-bs-toggle="modal"
                           data-bs-target="#myModal">ncs.gov.in</a>
                    </p>
                    <p>
                        <a href="/contact_us" class="text-reset text-decoration-none">Contact Us</a>
                    </p>
                    <p>
                        <a href="#" class="text-reset text-decoration-none">Help</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> Shillong, Meghalaya, India</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        dectmeg[at]gmail[dot]com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> 0364-2223592</p>
                    <p><i class="fas fa-mobile me-3"></i> +91-9863067505</p>
                </div>
            </div>

        </div>
    </section>

    <div class="text-center py-2 bg-black">
        ©2024 Copyright:
        <a class="text-white fw-bold text-decoration-none">Government of Meghalaya</a><br>
        <span class="text-secondary">
        <a class="small  text-secondary text-decoration-none" href="/terms-of-use">Terms of Use</a> |
        <a class="small  text-secondary text-decoration-none"
           href="/accessibility-statement">Accessibility Statement</a> |
            <a class="small  text-secondary text-decoration-none"
               href="/privacy-policy">Privacy Policy</a>
        </span>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
<script src="../js/pages/layout.js"></script>

</body>

</html>