<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{fragments/layout.html}">

<main class="container-fluid p-0 m-0" th:fragment="content">

    <div class="card mx-5 my-3 pb-2">
        <div class="card-body">
            <h4 class="card-title">About Us</h4>

            <p class="card-text">The main function of the Employment Service is to render job assistance to job seekers, Employers/Job providers
                and other concerned stakeholders through a network of 11 District Employment Exchanges and 2 Sub-Divisional
                Employment Exchanges. The Services also include Online Registration of job seekers, Online Updating/Modification
                of Registration, Acceptance of Registration for vacancies from Employers and sponsoring suitable candidates for
                Employment. The registration and information service is also extended to 11 Bureaus located at the Block level
                offices.</p>

            <p class="card-text">Besides these, the Employment Exchanges provide Vocational Guidance/Self Employment information to
                willing/desiring candidates. There is also 1 (one) Coaching-cum-Guidance Centre for SC/ST which is functioning
                at Shillong and which provides pre-examination coaching classes to those who aspire to sit for competitive
                examinations conducted by agencies like the Staff Selection Commission, Meghalaya Public Service Commission,
                Banks, etc.</p>
        </div>
    </div>

</main>

</html>