<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{fragments/layout.html}">

<main class="container-fluid p-0 m-0" th:fragment="content">

    <div class="card mx-5 my-3 pb-2">
        <div class="card-body">
            <h4 class="card-title">List of Employment Exchanges</h4>

            <p class="card-text">There are 11 District Employment Exchanges and 2 Sub-Divisional Employment Exchanges
                located at the following places.</p>
            <ol class="">
                <li class="">Divisional Employment Exchange, Shillong</li>
                <li class="">District Employment Exchange, Jowai</li>
                <li class="">District Employment Exchange, Nongpoh</li>
                <li class="">District Employment Exchange, Nongstoin</li>
                <li class="">District Employment Exchange, Tura</li>
                <li class="">District Employment Exchange, Williamnagar</li>
                <li class="">District Employment Exchange, Baghmara</li>
                <li class="">District Employment Exchange, Khliehriat</li>
                <li class="">District Employment Exchange, Ampati</li>
                <li class="">District Employment Exchange, Resubelpara</li>
                <li class="">District Employment Exchange, Mawkyrwat</li>
                <li class="">Sub-Divisional Employment Exchange, Sohra</li>
                <li class="">Sub-Divisional Employment Exchange, Mairang</li>
            </ol>

            <p class="card-text">Apart from the above Employment Exchanges, there are 11 (eleven) Employment Information
                and Assistance Bureaux in the State located in Block Offices to assist candidates in Employment
                registration.</p>
            <ol>
                <li class="">Employment Information and Assistance Bureau, Laskein</li>
                <li class="">Employment Information and Assistance Bureau, Amlarem</li>
                <li class="">Employment Information and Assistance Bureau, Mawshunrut</li>
                <li class="">Employment Information and Assistance Bureau, Pynursla</li>
                <li class="">Employment Information and Assistance Bureau, Mawsynram</li>
                <li class="">Employment Information and Assistance Bureau, Umsning</li>
                <li class="">Employment Information and Assistance Bureau, Dambo Rongjeng</li>
                <li class="">Employment Information and Assistance Bureau, Baghmara</li>
                <li class="">Employment Information and Assistance Bureau, Dalu</li>
                <li class="">Employment Information and Assistance Bureau, Dadengiri</li>
                <li class="">Employment Information and Assistance Bureau, Ranikor</li>
            </ol>
        </div>
    </div>

</main>

</html>