<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{fragments/layout.html}">

<main class="container-fluid p-0 m-0" th:fragment="content">

    <div class="card mx-5 my-3 pb-2">
        <div class="card-body">
            <h4 class="pb-3">Frequently Asked Questions</h4>

            <p class="card-text"><strong>1. What is Employment Exchange and Who Needs to Register with an Employment Exchange?</strong></p>
            <p class="card-text">An Employment Exchange is a government office that provides employment assistance to job seekers. Candidates registered with an Employment Exchange are sponsored to employers for recruitment to vacancies notified or advertised. Employed persons looking for more suitable jobs can also register with the Employment Exchanges to avail better job opportunities.</p>
            <hr>
            <p class="card-text"><strong>2. Who can Register with the Employment Exchanges?</strong></p>
            <p class="card-text">Unemployed youth may register for employment assistance with the Employment Exchange located within the area where they normally reside.</p>
            <hr>
            <p class="card-text"><strong>3. What You Need to do to Register with an Employment Exchange?</strong></p>
            <p class="card-text">A candidate may register with an Employment Exchange in person or online. Online Registrants will be issued a temporary Registration Number on completion of Online Registration Process and may visit the Local Employment Exchange within 30 days for verification of original documents/certificates after which a Permanent Registration Number will be issued.</p>
            <hr>
            <p class="card-text"><strong>4. What is online Registration?</strong></p>
            <p class="card-text">Online Registration is the facility which allows a Candidate to register through the internet and from the comfort of their home, office, kiosks etc. after which the candidate may visit the local Employment Exchange for verification of original documents.</p>
            <p class="card-text">Online registration also allows job seekers to search for suitable jobs and to update their qualification and other details online.</p>
        </div>
        </div>
    </div>

</main>

</html>