<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{fragments/layout.html}">

<main class="container-fluid p-0 m-0" th:fragment="content">

    <div class="card mx-5 my-3 pb-2">
        <div class="card-body">
            <h2 class="card-title">About Us</h2>
            <p class="card-text">Directorate of Employment and Craftsmen Training</p>

            <p class="card-text">The Directorate of Employment and Craftsmen Training consists of two services:</p>
            <ul>
                <li>Employment Service</li>
                <li>Training Service</li>
            </ul>

            <p class="card-text">The Employment Service is rendered through the 11 District Employment Exchanges and 2 Sub-Divisional Employment Exchanges in the State.</p>

            <p class="card-text">Training Services are imparted through a network of 10 Government Industrial Training Institutes spread over the 11 Districts in the State.</p>

            <h5 class="">Objectives</h5>

            <p class="card-text"><strong>Employment Wing:</strong></p>
            <ul>
                <li>To promote coordination between manpower supply and demand by rendering job assistance to job seekers/employers.</li>
                <li>To promote employability of job seekers and students through vocational guidance activities.</li>
                <li>To facilitate Manpower Planning and analysis through effective implementation of Employment Market Information.</li>
            </ul>

            <p class="card-text"><strong>Training Wing:</strong></p>
            <ul>
                <li>Vocational Training is concerned with imparting and acquisition of skills, knowledge, and attitude.</li>
                <li>It includes pre-service training, apprenticeship training, and in-service training.</li>
                <li>It also includes upgradation of skills.</li>
            </ul>

            <p class="card-text">Implementation of Skill Development Programmes and Strengthening of Employment Exchanges for Enhancing Employability of the Youth will be the thrust area for the Department during the 12th Five-Year Plan Period with a target of training 6000+ people annually through 4 (four) Major Schemes: Craftsmen Training Scheme (C.T.S.), Apprenticeship Training Scheme (A.T.S.), Skill Development Initiative (S.D.I.) Scheme, and Short-Term Job-Oriented Courses (State Initiative). Further, Modernization of Employment Exchanges through the Employment Exchange Mission Mode Project (E.E.M.M.P.) of the Government of India will be taken up during this period.</p>
        </div>
    </div>

</main>

</html>