<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{fragments/layout.html}">

<main class="container-fluid p-0 m-0" th:fragment="content">

    <div class="card mx-5 my-3 pb-2">
        <div class="card-body">
            <h4>Accessibility Statement</h4>
            <hr>
            <p class="card-text">The Official website of the Directorate of Employment & Craftsmen Training has been
                built with an aim to provide maximum accessibility and usability to its visitors.</p>
            <p class="card-text">This website can be viewed from a variety of devices such as Desktop or Laptop
                computers, web-enabled mobile devices, WAP phones, PDAs, etc. However, currently Portable Document
                Format (PDF) files are not fully accessible.</p>
            <p class="card-text">We aim to be standards compliant and follow principles of usability and universal
                design, which should help all visitors of this website.</p>
            <p class="card-text">This website is designed to meet the Guidelines for Indian Government Websites and also
                adheres to level AA of the Web Content Accessibility Guidelines (W.C.A.G.) 2.0 laid down by the World
                Wide Web Consortium (W.3.C.). Part of the information in the website is also made available through
                links to external Websites. External Websites are maintained by the respective departments who are
                responsible for making their sites accessible.</p>
            <p class="card-text">The information posted on this website could include hypertext links or pointers to
                information created and maintained by non-Government/private organizations. The Directorate of
                Employment and Craftsmen Training, Government of Meghalaya, is providing these links and pointers
                solely for your information and convenience. When you select a link to an outside website, you are
                leaving the Directorate of Employment and Craftsmen Training, Government of Meghalaya,
                website and are subject to the privacy and security policies of the owners/sponsors of the outside
                website.</p>
            <p class="card-text">Directorate of Employment and Craftsmen Training, Government of
                Meghalaya, does not guarantee the availability of such linked pages at all times.</p>
        </div>
    </div>

</main>

</html>