<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{fragments/layout.html}">

<main class="container-fluid p-0 m-0" th:fragment="content">

    <div class="container mt-3 pb-5">
        <div class="card p-3">
            <div class="row">
                <div class="col-md-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d459517.42010227655!2d91.48568948280717!3d25.87014076393355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x37507f541280de0b%3A0x2f196632835f76f9!2sOffice%20Of%20the%20Directorate%20Of%20Employment%20And%20Craftsman%20Training%2C%20Government%20Of%20Meghalaya%2C%20Shillong!5e0!3m2!1sen!2sin!4v1706002922143!5m2!1sen!2sin"
                            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="col-md-7">
                    <div class="mb-2">
                        <h2>Contact Us</h2>
                        <p>Contact Details of the Office of the Directorate of Employment and Craftsmen Training, Meghalaya</p>
                    </div>
                    <hr class="hr">
                    <div class="row mb-3">
                        <div class="col-md-12 pb-2">
                            <img src="/images/mail.png" alt="Email Icon" class="img-fluid" style="max-height: 24px; margin-right: 8px;">
                            dectmeg@gmail.com
                        </div>
                        <div class="col-md-12 pb-2">
                            <img src="/images/telephone.png" alt="Phone Icon" class="img-fluid" style="max-height: 24px; margin-right: 8px;">
                            9863067505
                        </div>
                        <div class="col-md-12 pb-2">
                            <img src="/images/location.png" alt="Address Icon" class="img-fluid" style="max-height: 24px; margin-right: 8px;">
                            Secretariat Hills, Shillong, Meghalaya, India
                        </div>
                    </div>
                    <ul class="list-group small">
                        <li class="list-group-item active" aria-current="true">
                            <div class="row">
                                <div class="col-3">Name</div>
                                <div class="col-3">Designation</div>
                                <div class="col-3">Contact</div>
                                <div class="col-3">Email Address</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-3">Smt. A. Kharpor</div>
                                <div class="col-3">MCS, Director</div>
                                <div class="col-3">
                                    2223592,<br>
                                    9863067505
                                </div>
                                <div class="col-3">
                                    dectmeg@gmail.com,<br>
                                    dect-meg@nic.in
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-3">Mr. A. Nath</div>
                                <div class="col-3">Joint Director</div>
                                <div class="col-3">9436101062</div>
                                <div class="col-3">
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-3">Mr. A. R. Jyrwa</div>
                                <div class="col-3">Employment Officer</div>
                                <div class="col-3">9436101062</div>
                                <div class="col-3">
                                    jyrwa.alan@gmail.com
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</main>
</html>
