<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{fragments/layout.html}">

<main class="container-fluid p-0 m-0" th:fragment="content">

    <div class="container mt-3 pb-5">
        <div class="card p-3">
            <h4 class="card-title">Key Contacts</h4>
            <p class="card-text">List of Officers with Telephone Numbers</p>
            <hr class="hr">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Name and Designation</th>
                    <th>Office</th>
                    <th>Mobile</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Smt. A. Kharpor, MCS, Director Employment and Craftsmen Training</td>
                    <td>2223592<br>2228451 (Fax)</td>
                    <td>98630-67505</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Joint Director of Employment and Craftsmen Training (Vacant)</td>
                    <td>2501528</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Mr. A. Nath, Deputy Director of Training.</td>
                    <td>2501501</td>
                    <td>94361-10880</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Mrs. A. Sawian, Assistant Director of Employment</td>
                    <td>2501525</td>
                    <td>80148-40117</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Mr. L. Thangkhiew, Finance and Accounts Officer.</td>
                    <td>-</td>
                    <td>80144-52466</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Mr. H.R. Massar, Training Officer.</td>
                    <td>-</td>
                    <td>94021-96244</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Mr. P. Thangkhiew, Employment Officer.</td>
                    <td>-</td>
                    <td>98620-53698</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Mr. A. R. Jyrwa, Employment Officer.</td>
                    <td>-</td>
                    <td>94361-01062</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Mrs. D.A. Shylla, Assistant Employment Officer</td>
                    <td>-</td>
                    <td>94363-45755</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Registrar (Vacant)</td>
                    <td>2228460</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Mrs. K. Kharbih, Superintendent</td>
                    <td>2228460</td>
                    <td>-</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</main>
</html>
