<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{fragments/layout.html}">

<main class="container-fluid p-0 m-0" th:fragment="content">

    <div class="container mt-3 pb-5">
        <div class="card p-3">
            <h4 class="card-title">Key Contacts</h4>
            <p class="card-text">List of Officers with Telephone Numbers</p>
            <hr class="hr">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name and Designation</th>
                    <th>Office</th>
                    <th>Mobile</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody id="contactsTableBody">
                </tbody>
            </table>

        </div>
    </div>
    <script src="/js/pages/key_contacts.js"></script>
</main>
</html>
