<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{fragments/layout.html}">

<main class="container-fluid p-0 m-0" th:fragment="content">

    <div class="card mx-5 my-3 pb-2">
        <div class="card-body">
            <h4>Privacy Policy</h4>
            <p class="card-text">Welcome to the Directorate of Employment & Craftsmen Training (DECT), Meghalaya. We are
                committed to protecting the privacy and security of your personal information. This
                Privacy Policy outlines how we collect, use, disclose, and protect your information when you register,
                login, and apply for various benefits on our platform.</p>
            <hr>
            <h5>Information We Collect</h5>
            <p class="card-text">We may collect the following types of personal information from you when you register
                and apply for services:</p>
            <ul>
                <li>Personal Details like Name, Date of Birth, Gender</li>
                <li>Address</li>
                <li>Other relevant details necessary for the application process</li>
            </ul>
            <h5>How We Use Your Information</h5>
            <p class="card-text">We use the information you provide to:</p>
            <ul>
                <li>Verify your identity and eligibility for benefits/services</li>
                <li>Process your registration and services applications</li>
                <li>Communicate with you about your applications and updates</li>
            </ul>
            <h5>Disclosure of Your Information</h5>
            <p class="card-text">We do not sell, trade, or rent your personal information to third parties. However, we
                may disclose your information to:</p>
            <ul>
                <li>Government agencies or authorities as required by law</li>
                <li>Service providers and contractors who assist us in providing our services</li>
            </ul>
            <h5>Security</h5>
            We take the security of your information seriously and implement appropriate measures to safeguard it from
            unauthorized access, disclosure, alteration, or destruction.
        </div>
    </div>

</main>

</html>