<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{fragments/layout.html}">

<main class="container-fluid p-0 m-0" th:fragment="content">

    <div class="card mx-5 my-3 pb-2">
        <div class="card-body">
            <h4>Terms of Use</h4><hr>
            <h5>Disclaimer</h5>
            <p class="card-text">This website is maintained by the Directorate of Employment & Craftsmen Training,
                Government of Meghalaya.</p>
            <p class="card-text">Though all efforts have been made to ensure the accuracy and currency of the content on
                this website, the same should not be construed as a statement of law or used for any legal purposes.
                Incase of any ambiguity or doubts, users are advised to verify/check with the Directorate and/or other
                sources, and to obtain appropriate professional advice.</p>
            <p class="card-text">Under no circumstances will this Board be liable for any expense, loss or damage
                including, without limitation, indirect or consequential loss or damage, or any expense, loss or damage
                whatsoever arising from use, or loss of use, of data, arising out of or in connection with the use of
                this website.</p>
            <p class="card-text">These terms and conditions shall be governed by and construed in accordance with the
                Indian Laws. Any dispute arising under these terms and conditions shall be subject to the jurisdiction
                of the courts of India.</p>
            <p class="card-text">The information posted on this website could include hypertext links or pointers to
                information created and maintained by non-Government/private organizations. The Directorate of
                Employment and Craftsmen Training, Government of Meghalaya, is providing these links and pointers
                solely for your information and convenience. When you select a link to an outside website, you are
                leaving the Directorate of Employment and Craftsmen Training, Government of Meghalaya,
                website and are subject to the privacy and security policies of the owners/sponsors of the outside
                website.</p>
            <p class="card-text">Directorate of Employment and Craftsmen Training, Government of
                Meghalaya, does not guarantee the availability of such linked pages at all times.</p>
            <h5>Copyright</h5>
            <p class="card-text">Materials featured on this site may be reproduced free of charge in any format or media
                without requiring specific permission. This is subject to the material being reproduced accurately and
                not being used in a derogatory manner or in a misleading context. Where the material is being published
                or issued to others, the source must be prominently acknowledges. However, the permission to produce
                this material does not extent to any material on this site, which is explicitly identified as being the
                copyright of a third party. Authorisation to reproduce such material must be obtained from the copyright
                holders concerned.</p>

            <h5>Hyperlinking Policy</h5>
            <p class="card-text">We do not object to you linking directly to the information that is hosted on our site
                and no prior permission is required for the same. However, we would like you to inform us about any
                links provided to our site so that you can be informed of any changes or updations therein. Also, we do
                not permit our pages to be loaded into frames on your site. Our Board pages must load into a newly
                opened browser window of the user.</p>
        </div>
    </div>

</main>

</html>