<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{fragments/layout.html}">

<main class="container-fluid p-0 m-0" th:fragment="content">
    <link rel="stylesheet" href="/css/fancybox.css">

    <style>
        .thumbnail {
            width: 300px;
            max-height: 200px;
            height: auto;
            margin: 8px;
            cursor: pointer;
            object-fit: cover
        }
    </style>

    <div class="container mt-3 pb-5">
        <div class="card p-3">
            <h4 id="eventTitle" class="text-center"></h4><hr>
            <div id="imageContainer">
                <!-- Images will be dynamically populated here -->
            </div>

        </div>
    </div>

    <script src="/js/fancybox.umd.js"></script>
    <script src="/js/pages/view_images.js"></script>

</main>
</html>
